*{
  margin: 0;
  padding: 0;
}

.reset_health{
  display: flex;
  width: 100%;
  height: 2vw;
}
.resetButton{
  width: 150px;
  height: 37px;
  color: white;
  background-color: black;
}
.bossHealth{
  display: none;
  width: 80%;
  height: 20px;
  margin-left: 2%;
  margin-top: 10px;
  background-color: red;
  border-radius: 50%;
}

.mainPanel{
  width: 100%;
  height: 47.3vw;
}

.mainHealth_items{
  display: flex;
  width: 100%;
  height: 2vw;
}

.introAnimation{
  animation: intro;
  animation-timing-function: ease-in;
  animation-duration: 10s;
}
@keyframes intro{
  0%{
    opacity: 0;
  }
  40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.highwaySign{
  position: absolute;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 10%;
  background-color: white;
  border: 5px solid black;
  border-radius: 10%;
  text-align: bottom;
  animation: signDistance;
  animation-timing-function: ease-in;
  animation-duration: 4s;
}
@keyframes signDistance{
  0%{
    transform: scale(0.3);
  }
  100%{
    transform: scale(1);
  }
}
.welcome{
  position: absolute;
  font-size: 4.5rem;
  height: 55%;
  width: 85%;
  left: 9%;
  top: 35%;
}
.stick1{
  position: absolute;
  height: 50%;
  width: 3%;
  background-color: grey;
  left: 20%;
  top: 101%;
}
.stick2{
  position: absolute;
  height: 50%;
  width: 3%;
  background-color: grey;
  left: 75%;
  top: 101%;
}
.signalBase{
  position: absolute;
  height: 35%;
  width: 65%;
  background-color: burlywood;
  border-radius: 50%;
  top: 135%;
  left: 16%;
}

.slimyBody{
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: lightpink;
  border: 2px solid black;
}
.eyeL{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  left: 20%;
  top: 25%;
}
.eyeL::before{
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  left: 50%;
  top: 10%;
}
.eyeL::after{
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: white;
  border-radius: 50%;
  left: 10%;
  top: 20%;
}
.eyeR{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  left: 60%;
  top: 25%;
}
.eyeR::before{
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  left: 50%;
  top: 10%;
}
.eyeR::after{
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: white;
  border-radius: 50%;
  left: 10%;
  top: 20%;
}
.cheek{
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  left: 10%;
  top: 48%;
}
.cheek::before{
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: red;
  border-radius: 50%;
  left: 225%;
}
.smile{
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  left: 40%;
  top: 57%;
}
.smile::before{
  content: "";
  position: absolute;
  height: 3px;
  width: 3px;
  background-color: white;
  left: 25%;
  border-top-left-radius: 50%;
}
.smile::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 3px;
  background-color: white;
  left: 50%;
  border-top-right-radius: 50%;
}